FASE 2/[IPC2]JDBR/[IPC2]JDBR/Service References/WebServiceRef/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://quetzalexpress.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://quetzalexpress.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://quetzalexpress.com">
      <s:element name="comprobar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comprobarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="comprobarResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devuelveCategoria">
        <s:complexType />
      </s:element>
      <s:element name="devuelveCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devuelveCategoriaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="cotizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cotizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cotizarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarEmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="cargarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="Categorias">
        <s:complexType />
      </s:element>
      <s:element name="CategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoriasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="despedir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="despedirResponse">
        <s:complexType />
      </s:element>
      <s:element name="loginC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginEResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="comprobarSoapIn">
    <wsdl:part name="parameters" element="tns:comprobar" />
  </wsdl:message>
  <wsdl:message name="comprobarSoapOut">
    <wsdl:part name="parameters" element="tns:comprobarResponse" />
  </wsdl:message>
  <wsdl:message name="devuelveCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:devuelveCategoria" />
  </wsdl:message>
  <wsdl:message name="devuelveCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:devuelveCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="cotizarSoapIn">
    <wsdl:part name="parameters" element="tns:cotizar" />
  </wsdl:message>
  <wsdl:message name="cotizarSoapOut">
    <wsdl:part name="parameters" element="tns:cotizarResponse" />
  </wsdl:message>
  <wsdl:message name="cargarEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:cargarEmpleado" />
  </wsdl:message>
  <wsdl:message name="cargarEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:cargarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="cargarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:cargarCategoria" />
  </wsdl:message>
  <wsdl:message name="cargarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:cargarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:Categorias" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="despedirSoapIn">
    <wsdl:part name="parameters" element="tns:despedir" />
  </wsdl:message>
  <wsdl:message name="despedirSoapOut">
    <wsdl:part name="parameters" element="tns:despedirResponse" />
  </wsdl:message>
  <wsdl:message name="loginCSoapIn">
    <wsdl:part name="parameters" element="tns:loginC" />
  </wsdl:message>
  <wsdl:message name="loginCSoapOut">
    <wsdl:part name="parameters" element="tns:loginCResponse" />
  </wsdl:message>
  <wsdl:message name="loginESoapIn">
    <wsdl:part name="parameters" element="tns:loginE" />
  </wsdl:message>
  <wsdl:message name="loginESoapOut">
    <wsdl:part name="parameters" element="tns:loginEResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="comprobar">
      <wsdl:input message="tns:comprobarSoapIn" />
      <wsdl:output message="tns:comprobarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="devuelveCategoria">
      <wsdl:input message="tns:devuelveCategoriaSoapIn" />
      <wsdl:output message="tns:devuelveCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cotizar">
      <wsdl:input message="tns:cotizarSoapIn" />
      <wsdl:output message="tns:cotizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarEmpleado">
      <wsdl:input message="tns:cargarEmpleadoSoapIn" />
      <wsdl:output message="tns:cargarEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarCategoria">
      <wsdl:input message="tns:cargarCategoriaSoapIn" />
      <wsdl:output message="tns:cargarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <wsdl:input message="tns:CategoriasSoapIn" />
      <wsdl:output message="tns:CategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="despedir">
      <wsdl:input message="tns:despedirSoapIn" />
      <wsdl:output message="tns:despedirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginC">
      <wsdl:input message="tns:loginCSoapIn" />
      <wsdl:output message="tns:loginCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginE">
      <wsdl:input message="tns:loginESoapIn" />
      <wsdl:output message="tns:loginESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comprobar">
      <soap:operation soapAction="http://quetzalexpress.com/comprobar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devuelveCategoria">
      <soap:operation soapAction="http://quetzalexpress.com/devuelveCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cotizar">
      <soap:operation soapAction="http://quetzalexpress.com/cotizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarEmpleado">
      <soap:operation soapAction="http://quetzalexpress.com/cargarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCategoria">
      <soap:operation soapAction="http://quetzalexpress.com/cargarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap:operation soapAction="http://quetzalexpress.com/Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="despedir">
      <soap:operation soapAction="http://quetzalexpress.com/despedir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginC">
      <soap:operation soapAction="http://quetzalexpress.com/loginC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginE">
      <soap:operation soapAction="http://quetzalexpress.com/loginE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comprobar">
      <soap12:operation soapAction="http://quetzalexpress.com/comprobar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devuelveCategoria">
      <soap12:operation soapAction="http://quetzalexpress.com/devuelveCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cotizar">
      <soap12:operation soapAction="http://quetzalexpress.com/cotizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarEmpleado">
      <soap12:operation soapAction="http://quetzalexpress.com/cargarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCategoria">
      <soap12:operation soapAction="http://quetzalexpress.com/cargarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap12:operation soapAction="http://quetzalexpress.com/Categorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="despedir">
      <soap12:operation soapAction="http://quetzalexpress.com/despedir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginC">
      <soap12:operation soapAction="http://quetzalexpress.com/loginC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginE">
      <soap12:operation soapAction="http://quetzalexpress.com/loginE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:44309/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:44309/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>