FASE 3/[DenisseBR]/[DenisseBR]/Service References/WSR/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="logC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerUs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerUsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerUsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerEmpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tipoEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tipoEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tipoEmpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Categorias">
        <s:complexType />
      </s:element>
      <s:element name="CategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoriasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Sucursal">
        <s:complexType />
      </s:element>
      <s:element name="SucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SucursalResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerSucursal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerSucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ObtenerSucursalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sucursalPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sucursalPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sucursalPedidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="direccionSucur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="direccionSucurResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccionSucurResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificarUs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificarUsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verificarUsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarUS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passw" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdSucursal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarUSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarUSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="idcategoria" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarPedidoResponse">
        <s:complexType />
      </s:element>
      <s:element name="obtenerDPI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDPIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="obtenerDPIResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosUs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosUsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerDatosUsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passw" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IdSucursal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarDatosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosPed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosPedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerDatosPedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCasilla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCasillaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCasillaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clientePendienteApr">
        <s:complexType />
      </s:element>
      <s:element name="clientePendienteAprResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientePendienteAprResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarEstadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rechazar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RechazarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RechazarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="logCSoapIn">
    <wsdl:part name="parameters" element="tns:logC" />
  </wsdl:message>
  <wsdl:message name="logCSoapOut">
    <wsdl:part name="parameters" element="tns:logCResponse" />
  </wsdl:message>
  <wsdl:message name="logESoapIn">
    <wsdl:part name="parameters" element="tns:logE" />
  </wsdl:message>
  <wsdl:message name="logESoapOut">
    <wsdl:part name="parameters" element="tns:logEResponse" />
  </wsdl:message>
  <wsdl:message name="logDSoapIn">
    <wsdl:part name="parameters" element="tns:logD" />
  </wsdl:message>
  <wsdl:message name="logDSoapOut">
    <wsdl:part name="parameters" element="tns:logDResponse" />
  </wsdl:message>
  <wsdl:message name="logASoapIn">
    <wsdl:part name="parameters" element="tns:logA" />
  </wsdl:message>
  <wsdl:message name="logASoapOut">
    <wsdl:part name="parameters" element="tns:logAResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerUsSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerUs" />
  </wsdl:message>
  <wsdl:message name="obtenerUsSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerUsResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerEmpSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerEmp" />
  </wsdl:message>
  <wsdl:message name="obtenerEmpSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerEmpResponse" />
  </wsdl:message>
  <wsdl:message name="tipoEmpSoapIn">
    <wsdl:part name="parameters" element="tns:tipoEmp" />
  </wsdl:message>
  <wsdl:message name="tipoEmpSoapOut">
    <wsdl:part name="parameters" element="tns:tipoEmpResponse" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:Categorias" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="SucursalSoapIn">
    <wsdl:part name="parameters" element="tns:Sucursal" />
  </wsdl:message>
  <wsdl:message name="SucursalSoapOut">
    <wsdl:part name="parameters" element="tns:SucursalResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerSucursalSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerSucursal" />
  </wsdl:message>
  <wsdl:message name="ObtenerSucursalSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerSucursalResponse" />
  </wsdl:message>
  <wsdl:message name="sucursalPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:sucursalPedido" />
  </wsdl:message>
  <wsdl:message name="sucursalPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:sucursalPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="direccionSucurSoapIn">
    <wsdl:part name="parameters" element="tns:direccionSucur" />
  </wsdl:message>
  <wsdl:message name="direccionSucurSoapOut">
    <wsdl:part name="parameters" element="tns:direccionSucurResponse" />
  </wsdl:message>
  <wsdl:message name="verificarUsSoapIn">
    <wsdl:part name="parameters" element="tns:verificarUs" />
  </wsdl:message>
  <wsdl:message name="verificarUsSoapOut">
    <wsdl:part name="parameters" element="tns:verificarUsResponse" />
  </wsdl:message>
  <wsdl:message name="registrarUSSoapIn">
    <wsdl:part name="parameters" element="tns:registrarUS" />
  </wsdl:message>
  <wsdl:message name="registrarUSSoapOut">
    <wsdl:part name="parameters" element="tns:registrarUSResponse" />
  </wsdl:message>
  <wsdl:message name="registrarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:registrarPedido" />
  </wsdl:message>
  <wsdl:message name="registrarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:registrarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDPISoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDPI" />
  </wsdl:message>
  <wsdl:message name="obtenerDPISoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDPIResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosUsSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDatosUs" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosUsSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDatosUsResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarDatos" />
  </wsdl:message>
  <wsdl:message name="ActualizarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosPedSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDatosPed" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosPedSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDatosPedResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCasillaSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCasilla" />
  </wsdl:message>
  <wsdl:message name="obtenerCasillaSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCasillaResponse" />
  </wsdl:message>
  <wsdl:message name="clientePendienteAprSoapIn">
    <wsdl:part name="parameters" element="tns:clientePendienteApr" />
  </wsdl:message>
  <wsdl:message name="clientePendienteAprSoapOut">
    <wsdl:part name="parameters" element="tns:clientePendienteAprResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEstado" />
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="RechazarSoapIn">
    <wsdl:part name="parameters" element="tns:Rechazar" />
  </wsdl:message>
  <wsdl:message name="RechazarSoapOut">
    <wsdl:part name="parameters" element="tns:RechazarResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="logC">
      <wsdl:input message="tns:logCSoapIn" />
      <wsdl:output message="tns:logCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logE">
      <wsdl:input message="tns:logESoapIn" />
      <wsdl:output message="tns:logESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logD">
      <wsdl:input message="tns:logDSoapIn" />
      <wsdl:output message="tns:logDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logA">
      <wsdl:input message="tns:logASoapIn" />
      <wsdl:output message="tns:logASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerUs">
      <wsdl:input message="tns:obtenerUsSoapIn" />
      <wsdl:output message="tns:obtenerUsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerEmp">
      <wsdl:input message="tns:obtenerEmpSoapIn" />
      <wsdl:output message="tns:obtenerEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tipoEmp">
      <wsdl:input message="tns:tipoEmpSoapIn" />
      <wsdl:output message="tns:tipoEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <wsdl:input message="tns:CategoriasSoapIn" />
      <wsdl:output message="tns:CategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sucursal">
      <wsdl:input message="tns:SucursalSoapIn" />
      <wsdl:output message="tns:SucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSucursal">
      <wsdl:input message="tns:ObtenerSucursalSoapIn" />
      <wsdl:output message="tns:ObtenerSucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sucursalPedido">
      <wsdl:input message="tns:sucursalPedidoSoapIn" />
      <wsdl:output message="tns:sucursalPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="direccionSucur">
      <wsdl:input message="tns:direccionSucurSoapIn" />
      <wsdl:output message="tns:direccionSucurSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verificarUs">
      <wsdl:input message="tns:verificarUsSoapIn" />
      <wsdl:output message="tns:verificarUsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarUS">
      <wsdl:input message="tns:registrarUSSoapIn" />
      <wsdl:output message="tns:registrarUSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarPedido">
      <wsdl:input message="tns:registrarPedidoSoapIn" />
      <wsdl:output message="tns:registrarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDPI">
      <wsdl:input message="tns:obtenerDPISoapIn" />
      <wsdl:output message="tns:obtenerDPISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosUs">
      <wsdl:input message="tns:obtenerDatosUsSoapIn" />
      <wsdl:output message="tns:obtenerDatosUsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <wsdl:input message="tns:ActualizarDatosSoapIn" />
      <wsdl:output message="tns:ActualizarDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosPed">
      <wsdl:input message="tns:obtenerDatosPedSoapIn" />
      <wsdl:output message="tns:obtenerDatosPedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCasilla">
      <wsdl:input message="tns:obtenerCasillaSoapIn" />
      <wsdl:output message="tns:obtenerCasillaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="clientePendienteApr">
      <wsdl:input message="tns:clientePendienteAprSoapIn" />
      <wsdl:output message="tns:clientePendienteAprSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <wsdl:input message="tns:ActualizarEstadoSoapIn" />
      <wsdl:output message="tns:ActualizarEstadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rechazar">
      <wsdl:input message="tns:RechazarSoapIn" />
      <wsdl:output message="tns:RechazarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logC">
      <soap:operation soapAction="http://tempuri.org/logC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logE">
      <soap:operation soapAction="http://tempuri.org/logE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logD">
      <soap:operation soapAction="http://tempuri.org/logD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logA">
      <soap:operation soapAction="http://tempuri.org/logA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUs">
      <soap:operation soapAction="http://tempuri.org/obtenerUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEmp">
      <soap:operation soapAction="http://tempuri.org/obtenerEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tipoEmp">
      <soap:operation soapAction="http://tempuri.org/tipoEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap:operation soapAction="http://tempuri.org/Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sucursal">
      <soap:operation soapAction="http://tempuri.org/Sucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSucursal">
      <soap:operation soapAction="http://tempuri.org/ObtenerSucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sucursalPedido">
      <soap:operation soapAction="http://tempuri.org/sucursalPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="direccionSucur">
      <soap:operation soapAction="http://tempuri.org/direccionSucur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarUs">
      <soap:operation soapAction="http://tempuri.org/verificarUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUS">
      <soap:operation soapAction="http://tempuri.org/registrarUS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPedido">
      <soap:operation soapAction="http://tempuri.org/registrarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDPI">
      <soap:operation soapAction="http://tempuri.org/obtenerDPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosUs">
      <soap:operation soapAction="http://tempuri.org/obtenerDatosUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <soap:operation soapAction="http://tempuri.org/ActualizarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosPed">
      <soap:operation soapAction="http://tempuri.org/obtenerDatosPed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCasilla">
      <soap:operation soapAction="http://tempuri.org/obtenerCasilla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientePendienteApr">
      <soap:operation soapAction="http://tempuri.org/clientePendienteApr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rechazar">
      <soap:operation soapAction="http://tempuri.org/Rechazar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logC">
      <soap12:operation soapAction="http://tempuri.org/logC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logE">
      <soap12:operation soapAction="http://tempuri.org/logE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logD">
      <soap12:operation soapAction="http://tempuri.org/logD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logA">
      <soap12:operation soapAction="http://tempuri.org/logA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerUs">
      <soap12:operation soapAction="http://tempuri.org/obtenerUs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerEmp">
      <soap12:operation soapAction="http://tempuri.org/obtenerEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tipoEmp">
      <soap12:operation soapAction="http://tempuri.org/tipoEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap12:operation soapAction="http://tempuri.org/Categorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sucursal">
      <soap12:operation soapAction="http://tempuri.org/Sucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSucursal">
      <soap12:operation soapAction="http://tempuri.org/ObtenerSucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sucursalPedido">
      <soap12:operation soapAction="http://tempuri.org/sucursalPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="direccionSucur">
      <soap12:operation soapAction="http://tempuri.org/direccionSucur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificarUs">
      <soap12:operation soapAction="http://tempuri.org/verificarUs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUS">
      <soap12:operation soapAction="http://tempuri.org/registrarUS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarPedido">
      <soap12:operation soapAction="http://tempuri.org/registrarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDPI">
      <soap12:operation soapAction="http://tempuri.org/obtenerDPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosUs">
      <soap12:operation soapAction="http://tempuri.org/obtenerDatosUs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <soap12:operation soapAction="http://tempuri.org/ActualizarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosPed">
      <soap12:operation soapAction="http://tempuri.org/obtenerDatosPed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCasilla">
      <soap12:operation soapAction="http://tempuri.org/obtenerCasilla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientePendienteApr">
      <soap12:operation soapAction="http://tempuri.org/clientePendienteApr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstado">
      <soap12:operation soapAction="http://tempuri.org/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rechazar">
      <soap12:operation soapAction="http://tempuri.org/Rechazar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:3064/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:3064/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>