FASE 2/[denissebr201224240]/[denissebr201224240]/Service References/websr/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="logC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logEResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logAResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="despedir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="despedirResponse">
        <s:complexType />
      </s:element>
      <s:element name="cargarEmpleado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarEmpleadoResponse">
        <s:complexType />
      </s:element>
      <s:element name="cargarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarCategoriaResponse">
        <s:complexType />
      </s:element>
      <s:element name="sucursal">
        <s:complexType />
      </s:element>
      <s:element name="sucursalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sucursalResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="registrar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tarjeta" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="sucursal" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarResponse">
        <s:complexType />
      </s:element>
      <s:element name="cotizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cotizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cotizarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Categorias">
        <s:complexType />
      </s:element>
      <s:element name="CategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CategoriasResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverNombreCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverNombreClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevolverNombreClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="logCSoapIn">
    <wsdl:part name="parameters" element="tns:logC" />
  </wsdl:message>
  <wsdl:message name="logCSoapOut">
    <wsdl:part name="parameters" element="tns:logCResponse" />
  </wsdl:message>
  <wsdl:message name="logESoapIn">
    <wsdl:part name="parameters" element="tns:logE" />
  </wsdl:message>
  <wsdl:message name="logESoapOut">
    <wsdl:part name="parameters" element="tns:logEResponse" />
  </wsdl:message>
  <wsdl:message name="logDSoapIn">
    <wsdl:part name="parameters" element="tns:logD" />
  </wsdl:message>
  <wsdl:message name="logDSoapOut">
    <wsdl:part name="parameters" element="tns:logDResponse" />
  </wsdl:message>
  <wsdl:message name="logASoapIn">
    <wsdl:part name="parameters" element="tns:logA" />
  </wsdl:message>
  <wsdl:message name="logASoapOut">
    <wsdl:part name="parameters" element="tns:logAResponse" />
  </wsdl:message>
  <wsdl:message name="despedirSoapIn">
    <wsdl:part name="parameters" element="tns:despedir" />
  </wsdl:message>
  <wsdl:message name="despedirSoapOut">
    <wsdl:part name="parameters" element="tns:despedirResponse" />
  </wsdl:message>
  <wsdl:message name="cargarEmpleadoSoapIn">
    <wsdl:part name="parameters" element="tns:cargarEmpleado" />
  </wsdl:message>
  <wsdl:message name="cargarEmpleadoSoapOut">
    <wsdl:part name="parameters" element="tns:cargarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="cargarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:cargarCategoria" />
  </wsdl:message>
  <wsdl:message name="cargarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:cargarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="sucursalSoapIn">
    <wsdl:part name="parameters" element="tns:sucursal" />
  </wsdl:message>
  <wsdl:message name="sucursalSoapOut">
    <wsdl:part name="parameters" element="tns:sucursalResponse" />
  </wsdl:message>
  <wsdl:message name="registrarSoapIn">
    <wsdl:part name="parameters" element="tns:registrar" />
  </wsdl:message>
  <wsdl:message name="registrarSoapOut">
    <wsdl:part name="parameters" element="tns:registrarResponse" />
  </wsdl:message>
  <wsdl:message name="cotizarSoapIn">
    <wsdl:part name="parameters" element="tns:cotizar" />
  </wsdl:message>
  <wsdl:message name="cotizarSoapOut">
    <wsdl:part name="parameters" element="tns:cotizarResponse" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:Categorias" />
  </wsdl:message>
  <wsdl:message name="CategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverNombreClienteSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverNombreCliente" />
  </wsdl:message>
  <wsdl:message name="DevolverNombreClienteSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverNombreClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="logC">
      <wsdl:input message="tns:logCSoapIn" />
      <wsdl:output message="tns:logCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logE">
      <wsdl:input message="tns:logESoapIn" />
      <wsdl:output message="tns:logESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logD">
      <wsdl:input message="tns:logDSoapIn" />
      <wsdl:output message="tns:logDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logA">
      <wsdl:input message="tns:logASoapIn" />
      <wsdl:output message="tns:logASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="despedir">
      <wsdl:input message="tns:despedirSoapIn" />
      <wsdl:output message="tns:despedirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarEmpleado">
      <wsdl:input message="tns:cargarEmpleadoSoapIn" />
      <wsdl:output message="tns:cargarEmpleadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cargarCategoria">
      <wsdl:input message="tns:cargarCategoriaSoapIn" />
      <wsdl:output message="tns:cargarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sucursal">
      <wsdl:input message="tns:sucursalSoapIn" />
      <wsdl:output message="tns:sucursalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrar">
      <wsdl:input message="tns:registrarSoapIn" />
      <wsdl:output message="tns:registrarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cotizar">
      <wsdl:input message="tns:cotizarSoapIn" />
      <wsdl:output message="tns:cotizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <wsdl:input message="tns:CategoriasSoapIn" />
      <wsdl:output message="tns:CategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreCliente">
      <wsdl:input message="tns:DevolverNombreClienteSoapIn" />
      <wsdl:output message="tns:DevolverNombreClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logC">
      <soap:operation soapAction="http://tempuri.org/logC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logE">
      <soap:operation soapAction="http://tempuri.org/logE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logD">
      <soap:operation soapAction="http://tempuri.org/logD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logA">
      <soap:operation soapAction="http://tempuri.org/logA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="despedir">
      <soap:operation soapAction="http://tempuri.org/despedir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarEmpleado">
      <soap:operation soapAction="http://tempuri.org/cargarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCategoria">
      <soap:operation soapAction="http://tempuri.org/cargarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sucursal">
      <soap:operation soapAction="http://tempuri.org/sucursal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrar">
      <soap:operation soapAction="http://tempuri.org/registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cotizar">
      <soap:operation soapAction="http://tempuri.org/cotizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap:operation soapAction="http://tempuri.org/Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreCliente">
      <soap:operation soapAction="http://tempuri.org/DevolverNombreCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logC">
      <soap12:operation soapAction="http://tempuri.org/logC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logE">
      <soap12:operation soapAction="http://tempuri.org/logE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logD">
      <soap12:operation soapAction="http://tempuri.org/logD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logA">
      <soap12:operation soapAction="http://tempuri.org/logA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="despedir">
      <soap12:operation soapAction="http://tempuri.org/despedir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarEmpleado">
      <soap12:operation soapAction="http://tempuri.org/cargarEmpleado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarCategoria">
      <soap12:operation soapAction="http://tempuri.org/cargarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sucursal">
      <soap12:operation soapAction="http://tempuri.org/sucursal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrar">
      <soap12:operation soapAction="http://tempuri.org/registrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cotizar">
      <soap12:operation soapAction="http://tempuri.org/cotizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap12:operation soapAction="http://tempuri.org/Categorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverNombreCliente">
      <soap12:operation soapAction="http://tempuri.org/DevolverNombreCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:6287/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:6287/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>