PRACTICA 1/practica1/practica1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="comprobar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comprobarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="comprobarResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="existencia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pagina" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tema" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="disponibles" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prestamos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="reserva" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarLibroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="carnet" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dpi" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarLibroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="buscarLibroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="comprobarSoapIn">
    <wsdl:part name="parameters" element="tns:comprobar" />
  </wsdl:message>
  <wsdl:message name="comprobarSoapOut">
    <wsdl:part name="parameters" element="tns:comprobarResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarLibro" />
  </wsdl:message>
  <wsdl:message name="AgregarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarLibroResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarCliente" />
  </wsdl:message>
  <wsdl:message name="AgregarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="buscarLibroSoapIn">
    <wsdl:part name="parameters" element="tns:buscarLibro" />
  </wsdl:message>
  <wsdl:message name="buscarLibroSoapOut">
    <wsdl:part name="parameters" element="tns:buscarLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="comprobar">
      <wsdl:input message="tns:comprobarSoapIn" />
      <wsdl:output message="tns:comprobarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarLibro">
      <wsdl:input message="tns:AgregarLibroSoapIn" />
      <wsdl:output message="tns:AgregarLibroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <wsdl:input message="tns:AgregarClienteSoapIn" />
      <wsdl:output message="tns:AgregarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarLibro">
      <wsdl:input message="tns:buscarLibroSoapIn" />
      <wsdl:output message="tns:buscarLibroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comprobar">
      <soap:operation soapAction="http://tempuri.org/comprobar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarLibro">
      <soap:operation soapAction="http://tempuri.org/AgregarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <soap:operation soapAction="http://tempuri.org/AgregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarLibro">
      <soap:operation soapAction="http://tempuri.org/buscarLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comprobar">
      <soap12:operation soapAction="http://tempuri.org/comprobar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarLibro">
      <soap12:operation soapAction="http://tempuri.org/AgregarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCliente">
      <soap12:operation soapAction="http://tempuri.org/AgregarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarLibro">
      <soap12:operation soapAction="http://tempuri.org/buscarLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:7446/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:7446/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>